.stepper__item {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 1 35px;

  color: var(--stepper-color-active);

  background-color: var(--background-color);
  border: 2px solid currentColor;
  border-radius: 50%;

  cursor: pointer;

  &:active {
    background-color: currentColor;

    .stepper__value {
      color: var(--background-color);
    }
  }

  &:after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  & + & {
    margin-left: 7px;
  }

  & + &:before {
    content: '';
    position: absolute;
    top: calc(50% - 1px);
    right: 100%;
    z-index: -2;

    width: 100vw;
    border-bottom: 2px solid currentColor;
  }

}

// MODIFIERS
.stepper__item {
  &--active {
    &:before {
      z-index: -1 !important;
    }

    & ~ .stepper__item {
      color: var(--stepper-color);
    }
  }
}
