.button-circle {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 1 26px;
  min-width: 20px;

  line-height: 1;

  color: var(--green-color);

  border: 1px solid var(--green-color);
  border-radius: 50%;

  &:after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  &:disabled {
    color: var(--gray-500);
    border: 1px solid var(--gray-500);
  }

  &:active {
    color: #ffffff;
    background-color: var(--green-color);
  }
}


