.button {
  --button-py: 9px;
  --button-px: 24px;
  --button-color: var(--gray-400);

  min-width: 134px;
  padding: var(--button-py) var(--button-px);

  font-size: 14px / 1;
  color: #ffffff;

  background-color: var(--button-color);
  border-color: var(--button-color);
  border-radius: 7px;
}


// MODIFIERS

.button {
  $self : &;

  &--green {
    --button-color: var(--green-color);
  }

  &--red {
    --button-color: var(--red-500);
  }

  &--transparent {
    padding: calc(var(--button-py) - 1px) calc(var(--button-px) - 1px);

    background-color: transparent;
    border-width: 1px;
    border-style: solid;

    &#{$self}--green {
      color: var(--green-color);
    }

    &#{$self}--red {
      color: var(--red-500);
    }
  }

  &--slim {
    --button-py: 6px;
    --button-px: 16px;
  }
}
