*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  font: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  color: inherit;
  font: inherit;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}
