$font-path : '../fonts';

@font-face {
  font-family: 'PT Root UI';
  src:
          url('#{$font-path}/PT%20Root%20UI_Light.woff2') format('woff2'),
          url('#{$font-path}/PT%20Root%20UI_Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PT Root UI';
  src:
          url('#{$font-path}/PT%20Root%20UI_Regular.woff2') format('woff2'),
          url('#{$font-path}/PT%20Root%20UI_Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Root UI';
  src:
          url('#{$font-path}/PT%20Root%20UI_Medium.woff2') format('woff2'),
          url('#{$font-path}/PT%20Root%20UI_Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Root UI';
  src:
          url('#{$font-path}/PT%20Root%20UI_Bold.woff2') format('woff2'),
          url('#{$font-path}/PT%20Root%20UI_Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}