// ===============================
// SASS variables
// ===============================
$_ : unquote("*"); // для возможности игнорировать * для плагина postcss-short

$green-color: #009a53;

$gray-100: #ebebeb;
$gray-200: #c4c4c4;
$gray-300: #bdbdbd;
$gray-400: #999999;
$gray-500: #666666;

$dark-color: #333333;

$red-color-500: #ff413A;
$red-color-600: #f12c26;


$hd-desktop : 1440px;
$desktop : 1264px;
$tablet  : 752px;
$phablet : 568px;
$phone   : 336px;

// :root custom properties generator
:root {
  --green-color: #{$green-color};
  --success-color: var(--green-color);

  --red-500: #{$red-color-500};
  --red-600: #{$red-color-600};

  --gray-100: #{$gray-100};
  --gray-200: #{$gray-200};
  --gray-300: #{$gray-300};
  --gray-400: #{$gray-400};
  --gray-500: #{$gray-500};

  --background-color: #ffffff;

  --stepper-color: var(--gray-300);
  --stepper-color-active: var(--green-color);

  --price-color: #828282;

}

