<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= fontName %> - glyphs list</title>

    <link rel="stylesheet" href="_icon-template.scss">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font-family: Helvetica, Verdana, sans-serif;
        }

        .wrap {
            max-width: 800px;
            margin: 0 auto;
        }

        .glyphs-list {
            margin: 0;
            padding: 0;
            list-style: none
        }

        .glyphs-list li {
            float: left;
            width: 25%;
            padding: 16px;
            text-align: center;
        }

        .glyphs-list li:hover {
            cursor: default;
            background: #fafafa;
        }

        .glyphs-list li:nth-child(4n+1) {
            clear: left;
        }

        .glyphs-list i {
            font-size: 48px;
            line-height: 1;
        }

        .glyphs-list code {
            display: block;
            margin: 16px 0 0;
        }

        .glyphs-list input {
            display: block;
            width: 100%;
            margin: 16px 0 0;
        }
    </style>
</head>
<body>
<div class="wrap">
    <h1><%= fontName %> - glyphs list</h1>
    <ul class="glyphs-list">
        <% _.each(glyphs, function(icon){ %>
        <li>
            <i class="icon-<%= icon.name %>"></i>
            <code>\<%= icon.unicode[0].charCodeAt(0).toString(16) %></code>
            <input type="text" value="icon-<%= icon.name %>"/>
        </li>
        <% }) %>
    </ul>
</div>
</body>
</html>