.product {
  position: relative;

  display: flex;
  flex-direction: column;
  padding: 8px;

  box-shadow: 0px 2px 10px rgba(153, 153, 153, 0.15);

  border-radius: 7px;
}

// IMPORTS
@import "product__count";
@import "product__description";
@import "product__inner";
@import "product__image";
@import "product__price";
@import "product__title";
@import "product__counter";
@import "product__info";
@import "product__count-minus";
@import "product__count-plus";

@import "product--tiny";
@import "product--constructor";


// MODIFIERS

.product {
  &--selected {
    border: 2px solid var(--green-color);
  }
}

