.product {
  $parent: &;
  &--tiny {
    position: relative;

    padding: 0;

    border-radius: 7px;

    &:after {
      content: '';
      padding-bottom: 100%;
    }

    // INNER
    #{$parent}__inner {
      position: absolute;

      justify-content: center;
      padding: 7px;
    }

    #{$parent}__count {
      position: absolute;
      top: 0;
      right: 0;

      min-width: auto;

      font-weight: 500;
      font-size: 10px / 1;
      color: var(--red-500);

      transform: translateY(-50%);
    }

    #{$parent}__image {
      margin-bottom: 0;
    }

    #{$parent}__title {
      font-size: 8px / 1.2;
      color: #000000;
    }

    #{$parent}__image + #{$parent}__title {
      display: none;
    }


  }
}
