.product__title {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 15px $_;

  font-size: 15px / 1.2;

  text-align: center;
  word-break: break-all;
}


// OTHER

.product__info--descripted .product__title {
  font-weight: 500;
  font-size: 10px;
}


.product__image + .product__title {
  display: block;
  flex-grow: 0;
  padding: 0 $_;
}
