.constructor__title-part {
  position: relative;

  white-space: nowrap;

  opacity: 1;
  transition: opacity 0.3s;
}

// MODIFIERS

.constructor__title-part {
  &--hided {
    position: absolute;
    left: 50%;

    opacity: 0;

    transform: translateX(-50%);
  }
}
