.constructor {
  width: 100%;
  max-width: 1200px;
  margin: $_ auto;
}



@import "constructor__title";
@import "constructor__title-part";
@import "constructor__options";
@import "constructor__option";
@import "constructor__product";
@import "constructor__product-radio";
@import "constructor__stepper";
@import "constructor__wok-icon";
@import "constructor__slider";
@import "constructor__total";
@import "constructor__total-actions";
