.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
}

.u-vertical-middle {
  vertical-align: middle !important;
}

.u-space-between {
  justify-content: space-between !important;
}

.u-space-around {
  justify-content: space-around !important;
}

.u-align-self-end {
  align-self: flex-end;
}

.u-image-fluid {
  width: 100%;
  height: auto;
}

.u-align-children-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.u-hide {
  display: none !important;
}

.u-not-phone {
  @include _media('<=tablet') {
    display: none !important;
  }
}

.u-only-phone {
  @include _media('>=tablet') {
    display: none !important;
  }
}

.u-not-tablet {
  @include _media('>=tablet', '<desktop') {
    display: none !important;
  }
}

.u-only-tablet {
  @include _media('<=tablet') {
    display: none !important;
  }

  @include _media('>=desktop') {
    display: none !important;
  }
}

.u-not-desktop {
  @include _media('>=desktop') {
    display: none !important;
  }
}

.u-only-desktop {
  @include _media('<=desktop') {
    display: none !important;
  }
}

.u-not-desktops {
  @include _media('>=desktop') {
    display: none !important;
  }
}

.u-row-center-y {
  @include adaptive {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
  }
}

.u-full-center {
  @include adaptive {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }
}

.u-center-text {
  text-align: center !important;
}

.u-column-reverse {
  @include adaptive {
    display: flex !important;
    flex-direction: column-reverse !important;
  }
}

.u-row-between {
  @include adaptive {
    display: flex !important;
    justify-content: space-between !important;
  }
}

.u-d-block {
  @include adaptive {
    display: block !important;
  }
}
