$margins :
    (
      mt : (auto, 0),
      mr : (auto, 0),
      mb : (auto, 0),
      ml : (auto, 0),
      mx : (auto, 0),
      my : (auto, 0),
      m : (auto, 0)
    );

@mixin setMargin($m, $val) {
  @if ($m == mt) {
    margin-top: $val !important;
  } @else if ($m == mr) {
    margin-right: $val !important;
  } @else if ($m == mb) {
    margin-bottom: $val !important;
  } @else if ($m == ml) {
    margin-left: $val !important;
  } @else if ($m == mx) {
    margin: $_ $val !important;
  } @else if ($m == my) {
    margin: $val $_ !important;
  } @else if ($m == m) {
    margin: $val !important;
  }
}

@each $m, $values in $margins {

  @each $val in $values {
    .u-#{$m}-#{$val} {
      @include adaptive() {
        @include setMargin($m, $val);
      }
    }
  }
}
