$paddings :
        (
            pt : (0, 80px, 64px, 48px, 32px, 16px, 8px),
            pr : (0, 48px, 32px, 16px, 8px),
            pb : (0, 80px, 64px, 48px, 32px, 16px, 8px),
            pl : (0, 48px, 32px, 16px, 8px),
            px : (0, 48px, 32px, 16px, 8px),
            py : (0, 48px, 32px, 16px, 8px),
            p : (0, 48px, 32px, 16px, 8px)
        );

@mixin setPaddings($p, $val) {
  @if ($p == pt) {
    padding-top: $val !important;
  } @else if ($p == pr) {
    padding-right: $val !important;
  } @else if ($p == pb) {
    padding-bottom: $val !important;
  } @else if ($p == pl) {
    padding-left: $val !important;
  } @else if ($p == px) {
    padding: $_ $val !important;
  } @else if ($p == py) {
    padding: $val $_ !important;
  } @else if ($p == p) {
    padding: $val !important;
  }
}

@each $p, $values in $paddings {

  @each $val in $values {
    .u-#{$p}-#{$val} {
      @include adaptive() {
        @include setPaddings($p, $val);
      }
    }
  }
}