.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 14px 16px;

  width: 100%;
  height: 68px;

  border-bottom: 1px solid var(--gray-100);
}


@import "header__button";
