.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  width: 100%;
  height: 58px;
  padding: $_ 16px;

  border-top: 1px solid var(--gray-100);
}
