.page {
  position: relative;

  font-family: Roboto, sans-serif;

  box-sizing: border-box;
  overflow: hidden;
  touch-action: manipulation;
}




@import "page__body";
@import "page__content";
@import "page__footer";
@import "page__header";
@import "page__wrapper";
