.button-square {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 1 40px;
  min-width: 20px;

  line-height: 1;

  color: var(--green-color);

  border: 2px solid currentColor;
  border-radius: 7px;

  &:after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  &:disabled {
    color: var(--gray-500);
  }
}


