.button-group {
  display: flex;
  flex-direction: row;
  width: 100%;

  & > * + * {
    margin-left: 10px;
  }
}


// MODIFIERS

.button-group {
  &--around {
    justify-content: space-around;
  }

  &--between {
    justify-content: space-between;
  }

  &--right {
    justify-content: flex-end;
  }
}
