.slider__pagination-bullet {
  display: inline-block;
  size: 3px;

  background-color: var(--gray-200);
  border-radius: 50%;


  & + & {
    margin-left: 3px;
  }
}


// MODIFIERS

.slider__pagination-bullet {
  &--active {
    size: 4px;

    background-color: var(--green-color);
  }
}
