.slider__pagination {
  position: relative;
  z-index: 10;
  
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-top: 15px;

  text-align: center;

  transition: .3s opacity;
  transform: translate3d(0,0,0);

}
