.slider {
  position: relative;
  z-index: 1;

  margin: $_ auto;
  padding: 0;

  list-style: none;
}






@import "slider__inner";
@import "slider__slide";
@import "slider__slide-inner";
@import "slider__pagination";
@import "slider__pagination-bullet";
